
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');
@import url('https://fonts.googleapis.com/css2?family=Mulish:200,400,wght@1,1000&display=swap');
/* A changer police body*/
body {
    font-family: Arial, Helvetica, sans-serif;
  }

h1 h3 {
    font-family: Arial, Helvetica, sans-serif;
}

header li a {
    font-weight: bold;
  }

  article header p {
    font-weight: 100;
    font-style: italic;
  }