@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700");
/* @import url('https://fonts.googleapis.com/css2?family=Mulish:200,400,wght@1,1000&display=swap'); */

* {
  box-sizing: border-box;
  background-color: rgb(42, 58, 44);
  color: white;
  font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
}
strong{
  color: grey;
}
article p {
  font-size: 22px;
}
article h2 {
  font-size: 45px;
}
article h3{
  font-size: 40px;
  margin: 10px 0px 10px 0px; 
}
article .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 0px 50px 0px;
}
.container img{
  margin: 10px;
}
article .text-column {
  width: 40%;
  padding-right: 20px;
  box-sizing: border-box;
}
article .image-column {
  width: 30%;
  justify-content: center;
}
article .datasheet {
  width: 40%;
  justify-content: center;
}
article img {
  max-width: 100%;
  height: auto;
  margin: 20px 0px 20px 0px;
}
html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
  margin-bottom: 100px;
}

html {
  display: table;
  margin: auto;
}

body header h1 {
  color: white;
  background-image: url(../../../ressources/site/img-welcome.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-shadow: 0 0 20px rgb(0, 0, 0), 0rgb(0, 0, 0)2px #fff;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
}

header ul {
  list-style-type: none;
  margin: 0;
  overflow: auto;
  background-color: #121e09;
  padding-left: 0%;
}

header li {
  float: left;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

li.active a {
  background-color: #4c6828;
  color: white;
}

li a:hover:not(.active) {
  background-color: #4c6828;
}

#articles {
  width: 100%;
}

article p a {
  color: #2aace3;
}

article header h2 {
  border-bottom: thin solid #c2c2c2;
}

article header p {
  text-align: right;
  color: gray;
}

main {
  padding: 20px;
}

.hamburger {
  display: none;
}

.datasheet {
  box-shadow: rgba(255, 255, 255, 0.3) 0px 3px 8px;
  min-width: 360px;
  max-height: 280px;
  margin-left: 50px;
  border-radius: 10px;
  outline-style: auto;
}

.datasheet h3 {
  background-color: #121e09;
  color: white;
  margin-top: 0px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
}
.datasheet div {
  width: 360px;
}
.datasheet ul {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.datasheet li {
  list-style-type: none;
}
.textcenter{
  text-align: center;
}
.imgcenter{
  display: block;
  margin: 10px auto;
}

footer {
  background-color: #1b251d;
  text-align: right;
  padding: 20px;
  bottom: 0;
  left: 0;
  position: bottom;
  width: 100%;
  max-height: 100px;
}
footer img{
  background-color: #1b251d;
}

#canvas{
  margin: 0px;
  /*TODO: change after but needed to have 'inspect' while coding on game*/
}

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}

@media only screen and (max-width: 657px) {
  main {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  body {
    margin-bottom: 125px;
  }

  body header h1 {
    color: white;
    background-position: top;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  nav ul {
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
  }

  article {
    padding: 20px;
  }

  aside {
    margin: 0 auto;
  }

  .hamburger {
    text-align: center;
    display: block;
  }

  img {
    max-width: 100%;
  }

  nav ul li {
    width: 100%;
  }
}
